@using Microsoft.AspNet.Identity

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            @Html.ActionLink("Uracadex", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "navbar-brand col-sm-3 col-md-2 mr-0", title = "Manage" })
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Sign out</a>
                    }
                </li>
            </ul>
    </nav>

@*<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Uracadex</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>*@
