@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>


<link href="~/content/carousel.css" rel="stylesheet">

<link href="~/content/pricing.css" rel="stylesheet">

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->


<div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Uracadex, <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Uracadex.com is the world first and largest consortium of academic researchers and industrial experts providing value added research supports to students online. The tech startup was founded in 2019 by three Nigerian graduates based on their personal experience of the difficulty of finding real time supports in carrying out quality academic research work.  The platform is supported by a highly diverse community of professors from top global universities and industrial professionals serving on the advisory board. This platform is also poised to bridge the gap between industry and classroom by enabling students carry out socially/industry relevant research work.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="~/Images/19.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Our Mission, <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">To resolve the research problems or challenges of students in time effectively.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="~/Images/12.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Our vision, <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">To improve the quality of academic research, promote competitiveness and offer students better career paths through ground-breaking research and innovation at different level of academics; BSc, MSc and PhD globally.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="~/Images/29.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Our Team</h1>
    </div>

    <!-- /END THE FEATURETTES -->
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h5>ThankGod Eseimieghan</h5>
            <small>
                <b>Co-founder/Head of Strategy & Partnerships</b>
            </small>
            <p>Mr. Eseimieghan is an experienced business researcher. He holds a bachelor degree in Petroleum Engineering and has over 6 years technical experience in handling difficult business cases ranging from growth stage companies to well-established large corporations. He is the Head of Strategy & International Partnerships at Uracadex.com.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h5>Emmanuel Adeyemi Adeyeye</h5>
            <small>
                <b>Co-founder/Chief Operating Officer</b>
            </small>
            <p>
                Mr. Adeyeye is a highly data analyst with over 20 lecturing experience covering STEM. He has a first degree in Petroleum Engineering (First Class) from Niger Delta State and Master Degree (Distinction) from African University of Science & University where he graduated top of class with a scholarship. He is currently pursuing his PhD. He bring is wealth of experience in recommending impactful topics and see them through their research works either on the areas of data collection, analysis or project writing.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h5>Bomanaziba Ogoni</h5>
            <small>
                <b>Co-founder/Chief Technology Officer</b>
            </small>
            <p>
                Bomanaziba is a full stacked web developer with vast knowledge in software engineering. He is currently working with Interswitch as a web developer. He has a first degree in Electrical Electronics from Niger Delta University.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div><!-- /.container -->
@*<p>
        
    </p>

    <p>
        Professor GUMUS H. Rhoda is Uracadex.com Research Advisory Chair. Professor GUMUS is a Professor of Chemical Engineering at Niger Delta University and a Fellow of Applied Chemical Engineers of United States. She currently has over 40 international titles to her credit and has supervised over 4000 first degree students and 3000 MSc and 4000 PhDs.
    </p>

    <div class="container marketing" style="padding-top: 50px;">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>
                    ThankGod Eseimieghan
                </h4>
                <h5>
                    <b>Co-founder/Head of Strategy & Partnerships</b>
                </h5>
                <p>Mr. Eseimieghan is an experienced business researcher. He holds a bachelor degree in Petroleum Engineering and has over 6 years technical experience in handling difficult business cases ranging from growth stage companies to well-established large corporations. He is the Head of Strategy & International Partnerships at Uracadex.com.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>
                    Emmanuel Adeyemi Adeyeye
                </h4>
                <h5>
                    <b>Co-founder/Chief Operating Officer</b>
                </h5>
                <p>
                    Mr. Adeyeye is a highly data analyst with over 20 lecturing experience covering STEM. He has a first degree in Petroleum Engineering (First Class) from Niger Delta State and Master Degree (Distinction) from African University of Science & University where he graduated top of class with a scholarship. He is currently pursuing his PhD. He bring is wealth of experience in recommending impactful topics and see them through their research works either on the areas of data collection, analysis or project writing.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>
                    Bomanaziba Ogoni
                </h4>
                <h5>
                    <b>Co-founder/Chief Technology Officer</b>
                </h5>
                <p>
                    Bomanaziba is a full stacked web developer with vast knowledge in software engineering. He is currently working with Interswitch as a web developer. He has a first degree in Electrical Electronics from Niger Delta University.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>

    <h3>Our mission</h3>
    <p>
        To resolve the research problems or challenges of students in time effectively.
    </p>


    <h3>Our vision</h3>
    <p>
        To improve the quality of academic research, promote competitiveness and offer students better career paths through ground-breaking research and innovation at different level of academics; BSc, MSc and PhD globally.
    </p>*@


